@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("../styles/theme.css");

body {
  font-family: "Inter", sans-serif;
}

@layer utilities {

  .background-background_paper {
    @apply bg-white dark:bg-background-paper;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .flex-start {
    @apply flex justify-start items-center;
  }

  .card-wrapper {
    @apply bg-secondary-50 dark:bg-primaryDark-800;
  }

  .loading-bar {
    @apply bg-primary-600 fixed top-0 left-0 w-0 h-[2px] z-50 duration-100;
  }

  .primary-gradient {
    background: linear-gradient(129deg, #3399FF 0%, #007FFF 100%);
  }

  .dark-gradient {
    background: linear-gradient(
      232deg,
      rgba(23, 28, 35, 0.41) 0%,
      rgba(19, 22, 28, 0.7) 100%
    );
  }

  .tab {
    @apply min-h-full dark:bg-primaryDark-800 bg-grey-100 text-grey-900 dark:text-secondary-600 dark:data-[state=active]:bg-primaryDark-700 data-[state=active]:bg-primary-100 data-[state=active]:text-primary-500 dark:data-[state=active]:text-primary-400 !important;
  }
}

.no-focus {
  @apply focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
}

.active-theme {
  filter: invert(53%) sepia(98%) saturate(3332%) hue-rotate(0deg)
    brightness(104%) contrast(106%) !important;
}

.light-gradient {
  background: linear-gradient(
    132deg,
    rgba(247, 249, 255, 0.5) 0%,
    rgba(229, 237, 255, 0.25) 100%
  );
}

.primary-text-gradient {
  background: linear-gradient(129deg, #3399FF 0%, #007FFF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-radius: 2px;
}
.markdown code::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #ffffff;
}
.markdown code::-webkit-scrollbar-track {
  background: hsl(214, 100%, 87%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 50px;
}
.markdown code ::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 50px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.markdown code::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Markdown Start */

.markdown {
  @apply max-w-full prose dark:prose-p:text-grey-100 dark:prose-ol:text-grey-700 dark:prose-ul:text-grey-500 dark:prose-strong:text-white dark:prose-headings:text-white prose-headings:text-grey-900 prose-h1:text-grey-900 prose-h2:text-grey-900 prose-p:text-grey-900 prose-ul:text-grey-800 prose-ol:text-grey-500;
}

.markdown a {
  color: #1da1f2;
}

.markdown a,
code {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  padding: 2px;
  color: #007FFF !important;
}

.markdown pre {
  display: grid;
  width: 100%;
}

.markdown pre code {
  width: 100%;
  display: block;
  overflow-x: auto;
  color: inherit !important;
}

/* Additional Elements */
/* Define grey color palette */
:root {
  --grey-50: #F3F6F9;
  --grey-100: #E5EAF2;
  --grey-200: #DAE2ED;
  --grey-300: #C7D0DD;
  --grey-400: #B0B8C4;
  --grey-500: #9DA8B7;
  --grey-600: #6B7A90;
  --grey-700: #434D5B;
  --grey-800: #303740;
  --grey-900: #1C2025;
  --grey-main: #434D5B;
  --grey-contrast-text: #6B7A90;
  --grey-A100: #f5f5f5;
  --grey-A200: #eeeeee;
  --grey-A400: #bdbdbd;
  --grey-A700: #616161;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--grey-900);
    color: var(--grey-300);
  }

  /* Update colors for dark mode */
  .markdown a {
    color: #64b5f6;
  }

  code {
    color: #64b5f6 !important;
  }
}
/* Markdown End */

/* Clerk */
.cl-internal-b3fm6y {
  background: linear-gradient(129deg, #3399FF 0%, #007FFF 100%) !important;
}

.hash-span {
  margin-top: -140px;
  padding-bottom: 140px;
  display: block;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
