
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  .background-bg_white_dark-primary800
  {
    @apply bg-white dark:bg-primaryDark-800
  }

  .background-default_bg_primary50{
    @apply bg-white dark:bg-background-default 
  }

  .background-background_paper{
    @apply dark:bg-background-paper 
    bg-primary-500
  }

  .background-navbar_bg{
    @apply bg-white dark:bg-background-paper
  }

  .btn-primary {
    @apply bg-primaryDark-100 dark:bg-primaryDark-500 !important
  }
  .btn-secondary {
    @apply bg-grey-300 dark:bg-primaryDark-700 border border-divider !important
  }
  .invert-colors{
    @apply invert dark:invert-0
  }
  .search_background {
    @apply bg-secondary-50 dark:bg-gradient-to-br from-primaryDark-800 to-primaryDark-700;
  }
  .input_background {
    @apply bg-secondary-50 dark:bg-gradient-to-br from-primaryDark-800 to-primaryDark-700;
  }
  .border{
    @apply border-primary-100 border-2 dark:border-primaryDark-900
  }

  .filter_background {
    @apply dark:shadow-none border-grey-200 dark:border-none dark:bg-gradient-to-br from-primaryDark-800 to-primaryDark-700;
  }
  .card-element{
    @apply dark:shadow-none border-primaryDark-500 dark:bg-gradient-to-br from-grey-800 to-grey-800 
  }
  .profile-card{
    @apply bg-grey-50 border-grey-50 border dark:bg-[#0F1117] dark:border-[#151821] shadow-md !important
  }

  .card_background {
    @apply bg-white dark:bg-primaryDark-700;
  }
  .navbar_lg_background{
    @apply dark:bg-background-paper
    bg-[#Fdfdfd]
    border-r-divider 
    shadow-light-300 dark:shadow-none
  }
  .text-invert-2{
    @apply text-grey-800 dark:text-grey-100
  }


  .text-invert-subtitle{
    @apply text-primaryDark-700 dark:text-primaryDark-200
  }
  .text-invert-3{
    @apply text-primaryDark-400 dark:text-secondary-600
  }
  .text-invert-secondary{
    @apply text-gray-600 dark:text-gray-300
  }

  .card-text-invert-secondary{
    @apply text-primaryDark-800 dark:text-primaryDark-200  
  }

  .text-invert{
    @apply text-gray-900 dark:text-gray-50
  }

  .tag-bg{
    @apply bg-transparent border-primary-main dark:border-primary-400 text-primary-800
    dark:text-primary-200
  }
  .question-tag-bg{
    @apply bg-transparent !border-primary-main dark:border-primary-400 text-primary-800
    dark:text-primary-200 hover:!border-error-500
  }

  /* TODO add hover effect  */
  .btn {
    @apply bg-slate-100 dark:bg-primaryDark-800
  }

  /* Font styles  */

  .h1-bold {
    @apply text-[30px] font-bold leading-[42px] tracking-tighter;
  }

  .h2-bold {
    @apply text-[24px] font-bold leading-[31.2px];
  }

  .h2-semibold {
    @apply text-[24px] font-semibold leading-[31.2px];
  }

  .h3-bold {
    @apply text-[20px] font-bold leading-[26px];
  }

  .h3-semibold {
    @apply text-[20px] font-semibold leading-[24.8px];
  }

  .base-medium {
    @apply text-[18px] font-medium leading-[25.2px];
  }

  .base-semibold {
    @apply text-[18px] font-semibold leading-[25.2px];
  }

  .base-bold {
    @apply text-[18px] font-bold leading-[140%];
  }

  .paragraph-regular {
    @apply text-[16px] font-normal leading-[22.4px];
  }

  .paragraph-medium {
    @apply text-[16px] font-medium leading-[22.4px];
  }

  .paragraph-semibold {
    @apply text-[16px] font-semibold leading-[20.8px];
  }

  .body-regular {
    @apply text-[14px] font-normal leading-[19.6px];
  }

  .body-medium {
    @apply text-[14px] font-medium leading-[18.2px];
  }

  .body-semibold {
    @apply text-[14px] font-semibold leading-[18.2px];
  }

  .small-regular {
    @apply text-[12px] font-normal leading-[15.6px];
  }

  .small-medium {
    @apply text-[12px] font-medium leading-[15.6px];
  }

  .small-semibold {
    @apply text-[12px] font-semibold leading-[15.6px];
  }

  .subtle-medium {
    @apply text-[10px] font-medium leading-[13px] !important;
  }

  .subtle-regular {
    @apply text-[10px] font-normal leading-[13px];
  }

  .primary-gradient {
    background: linear-gradient(129deg, #3399FF 0%, #007FFF 100%);
  }

  .dark-gradient {
    background: linear-gradient(
      232deg,
      rgba(20, 26, 31, 1) 0%,
      rgba(20, 26, 31, 0.7) 100%
    );
  }

}